body {
	padding:0px; 
	margin:0px;
}

#topheader {
	background-color: #FF4500; 
	padding: 10px; 
	height: 24pt; 
	font-family: arial; 
	color: #FFFFFF; 
	border-bottom:solid #FF8B60 3px;
}

#logo {
	float:left;
	font-size: 24pt
}

#crawlstats {
	float:right; 
	height: 24pt; 
	text-align: right;
}

#maincontent {
	padding:10px;
	font-family: helvetica;
}

.infonotice {
	background-color: #CEE3F8;
	color: #112233;
	padding: 10px;
	border: #336699 1px dashed;
	text-align: center;
	margin-bottom:10px;
}


.infonotice a {	
	color: #112233;
	text-decoration: none;
	border-bottom: dashed #112233 1px;
}


.copynotice {
	color: #888888;
	text-align: center;
	margin:10px;
	margin-top:20px;
	width: 800px;
	font-size: 10px;
	font-weight: bold;
	line-height: 175%
}

.copynotice a {
	color: #444444;
	text-decoration: none;
	border-bottom: dashed #112233 1px;
}

.header_title
{
	font-weight: bold;
	font-size: 18pt;
	float:left;
	display: inline-block;
	margin: 0px;
}

.pagination {
	font-size:12pt;
	vertical-align: middle;
	display: inline-block;
	
}

.pagination a {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	color:#888888;
}

.story_wrapper {
	margin-bottom: 10px;
	width:100%;
}

.story_details {
	margin-top: 15px;
	margin-left: 85px;
	font-size: 8pt;
	color:#333333;
	height: 320px;
	vertical-align: middle;
	overflow-y: scroll;
	overflow-x: auto;
	clear:both;
}

.graph
{
	display: inline-block;
	float: left;
}

.story {
	clear: both;
	margin:10px;
	display: table-row;
}

.story .story_text {
	display: table-cell;
	@float: left;
	padding-left:10px;
	vertical-align: top;
}

.thumbnail {
	display: table-cell;
	@float: left;
	vertical-align: top;
	padding-left: 10px;
	border: 0px;
}

.story .story_text .domain {
	font-size:8pt;
	padding-left: 4px;
	color: #333333;
}

.story .story_text .story_title {
	font-size: 12pt;
	text-decoration: underline;
}


.story .score {
	display: table-cell;
	@float: left;
	font-weight: bold;
	font-size: 14pt;
	padding: 5px;
	text-align:center;
	vertical-align: middle;
	width: 75px;
	background-color: #E0E0E0;
	border: 1px dashed #888888;
	height: 100%;
	cursor: pointer;
}

.story .frontpage {
	background-color: #F6E69F;
	border: 1px dashed #FF4500;
}

.story .hotness {
	font-weight: normal;
	font-size: 8pt;
	text-align:center;
}

.story .info {
	color: #888888;
	font-size: 8pt;
}

